# RUST -------------------------------------------------------------------------
rust/debug/
rust/target/

# CMAKE ------------------------------------------------------------------------
cpp/CMakeLists.txt.user
cpp/CMakeCache.txt
cpp/CMakeFiles
cpp/CMakeScripts
cpp/Testing
cpp/Makefile
cpp/cmake_install.cmake
cpp/install_manifest.txt
cpp/compile_commands.json
cpp/CTestTestfile.cmake
cpp/_deps
cpp/cmake-build-debug

# C++ --------------------------------------------------------------------------
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# JetBrains --------------------------------------------------------------------
.idea/

# OS ---------------------------------------------------------------------------
.DS_Store